{% extends 'app/base.html' %}
{% block body_block %}

{% for user in object_list %}

<div class="jumbotron" style="height:500px;">



<img style="border-radius:50%;border:4px solid grey;" src="{{ user.profile.image.url }}" width=200 height=250>



<h2 class="account-heading"> {{user.username}} </h2>

<p class="text-secondary">  {{user.email}}  </p> <br> <br>


<div style="position: relative;right:10px;bottom: 400px;left:300px;">

<h2>{{user.profile.Name}}</h2>

<h3>{{user.profile.Branch}}</h3>

<h3>  <u> Skills:  </u> </h3>
<p>{{user.profile.Skills}}</p>
<h3>  <u> Hobbies: </u> </h3>
<p>{{user.profile.Hobbies}}</p>
<h3> <u> Contact Details: </u> </h3>
<p>{{user.profile.Linkedin_URL}}</p>
<p>{{user.profile.Contact_NO}}</p>

</div>
</div>

{% endfor %}

{% if is_paginated %}
  {% if page_obj.has_previous %}

  <a class="btn btn-outlne-info mb-4" href="?page1">First</a>
  <a class="btn btn-outlne-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}
  <!-- page range means all page -->
  {% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}

  <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
  <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
  {% endif %}

  {% endfor %}
  {% if page_obj.has_next %}

  <a class="btn btn-outlne-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
  <a class="btn btn-outlne-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}


{% endif %}

{% endblock %}
